
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">
    <img src="touch-icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
    <span>AK</span>
  </a>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
    <ul class="navbar-nav" *ngIf="!user.isAuthenticated">
      <li><a href="#/login">Login</a></li>
    </ul>
    <ul class="navbar-nav" *ngIf="user.isAuthenticated">
        <li class="nav-item"><i class="fa fa-user"></i>&nbsp;<span class="text-white">{{user.fullName}}</span></li>
        <li class="nav-item">&nbsp;&nbsp;</li>
        <li class="nav-item text-nowrap"><a href="#">Log out</a></li>
    </ul>
  </div>
</nav>
