<div class="modal_wrapper">
  <div class="container" style="background-color:#fff;margin-top:20px;">
    <!-- <div class="row"> -->


      <div class="btn-group" style="margin-bottom: 10px; margin-top: 20px;">
        <a routerLink="/albums" class="btn btn-sm btn-default">
          <i class="fa fa-list"></i> List</a>
        <a  class="btn btn-sm btn-default">
          <i class="fa fa-eye"></i> View</a>
        <a class="btn btn-sm btn-default">
          <i class="fa fa-dollar"></i> Add</a>
      </div>
      <div class="separator"></div>
      <div class="row">

        <div class="col-sm-12">
          <form name="form1" action="javascript:{}" #form1="ngForm" novalidate>
            <div class="form-group" [formGroup]="customerForm">
              <label for="AlbumName">Album Name:</label>
              <input id="AlbumName" type="text" class="form-control input-sm" [ngClass]="{'ng-invalid': customerForm.controls.name.invalid && customerForm.controls.name.touched}" placeholder="Album Name" formControlName="name" name="name" />

            </div>
            <div class="form-group"[formGroup]="customerForm">
              <label for="BandName">Band Name:</label>
              <input type="text" class="form-control input-sm typeahead" id="BandName" required autocomplete="off" data-provide="typeahead"
                placeholder="Band Name" formControlName="brand_name" name="brand_name"/>


            </div>
            <div class="form-group"[formGroup]="customerForm">
              <label for="Description">Album Description:</label>
              <textarea class="form-control input-sm" id="Description" placeholder="Album description or review" required 
              formControlName="album_desc" name="album_desc" style="height: 115px"></textarea>

            </div>

            <div class="form-group"[formGroup]="customerForm">
              <div class="input-group">
                <span class="input-group-addon" title="Image Url">
                  <i class="fa fa-image fa-fw"></i>
                </span>
                <input type="text" class="form-control input-sm" id="ImageUrl" required name="ImageUrl" placeholder="Image Url"
                formControlName="img_url" name="img_url" />

              </div>
            </div>

            <div class="form-group"[formGroup]="customerForm">
              <div class="input-group">
                <span class="input-group-addon" title="Url where to buy">
                  <i class="fa fa-dollar fa-fw"></i>
                </span>
                <input type="text" class="form-control input-sm" id="AmazonUrl" placeholder="Purchase Url" formControlName="purchase_url" name="purchase_url" 
                />
              </div>
            </div>

            <div class="form-group"[formGroup]="customerForm">
              <div class="input-group">
                <span class="input-group-addon" title="Url where to buy">
                  <i class="fa fa-spotify fa-fw"></i>
                </span>
                <input type="text" class="form-control input-sm" id="SpotifyUrl" placeholder="Listen Url" formControlName="listen_url" name="listen_url"/>
              </div>
            </div>

            <div class="form-group"[formGroup]="customerForm">
              <label for="YearReleased">Year released:</label>
              <input type="number" class="form-control input-sm" id="YearReleased" required formControlName="year" name="year" placeholder="Year of album release"
               />
            </div>

            <hr/>

            <!-- <album-songlist [tracks]="album.Tracks" [allowEditing]="true"></album-songlist> -->

            <div class="well well-sm">
              <button type="submit" (click)="add()" class="btn btn-success" [disabled]="form1.invalid" accesskey="S">
                <i class="fa fa-check"></i> Add
              </button>
              <a (click)="cancel()" class="btn btn-default">
                <i class="fa fa-remove"></i> Cancel
              </a>
            </div>

            <div class="separator"></div>

          </form>
        </div>


      </div>
    <!-- </div> -->
  </div>

</div>