<div class="container container-fluid">
    <error-display [error]="error"></error-display>
  <div class="row">
    <div class="col-md-6">
        <h4>Purchase Orders</h4>
    </div>
    <div class="col-md-6">
        <div class="col-md-offset-8">
            <button class="btn btn-primary">Create Order</button>                       
        </div>
    </div>
  </div>
    <!-- <table datatable [dtOptions]="dtOptions" class="table table-striped table-hover table-condensed">
  
    </table> -->
  </div>