<div class="container">
    <error-display [error]="_error"></error-display>
  <div class="row">
    <div class="col-md-12" style="border: 0.5px solid;">
      <div class="col-md-12">
        <h3>Vendor Detail</h3>
        <div class="separator"></div>
      </div>

      <div class="col-md-12">
          <form name="form1" action="javascript:{}" #form1="ngForm" novalidate>
        <div class="form-group" style="margin-top: 10px;">
          <label>Vendor No:</label>
          <span class="label label-info">123</span>
        </div>
        <div class="form-group col-md-6" [formGroup]="vendorPartyForm">
          <label for="name">Name:</label>
          <input id="name" type="text" class="form-control input-sm"
            placeholder="Name" formControlName="name" name="name" />

        </div>
        <div class="form-group col-md-6" [formGroup]="vendorPartyForm">
          <label for="BandName">Address:</label>
          <input type="text" class="form-control input-sm typeahead" id="address" required autocomplete="off" data-provide="typeahead"
            placeholder="Address" formControlName="address" name="address" />
        </div>
        <div class="form-group col-md-6" [formGroup]="vendorPartyForm">
          <label for="Description">Email:</label>
          <input class="form-control input-sm" id="email" placeholder="Email" required formControlName="email" name="email">

        </div>
        <div class="form-group col-md-6" [formGroup]="vendorPartyForm">
          <label for="Description">Phone:</label>
          <input class="form-control input-sm" id="email" placeholder="Phone" required formControlName="phone" name="phone">

        </div>

        <div class="form-group col-md-6" [formGroup]="vendorPartyForm">
          <label for="Description">Website:</label>
          <div class="input-group">
            <span class="input-group-addon" title="Url where to buy">
              <i class="fa fa-link fa-fw"></i>
            </span>
            <input type="text" class="form-control input-sm" id="AmazonUrl" placeholder="website URL" formControlName="website" name="website"
            />
          </div>
        </div>
        <div class="form-group col-md-6" [formGroup]="contactVendorPartyForm">
            <label for="Description">Temporary ID:</label>
            <div class="input-group">
              <span class="input-group-addon" title="Url where to buy">
                <i class="fa fa-link fa-fw"></i>
              </span>
              <input type="text" class="form-control input-sm" id="AmazonUrl" placeholder="website URL" formControlName="id" name="id"
              />
            </div>
          </div>

        <div class="form-group col-md-6" [formGroup]="vendorPartyForm">
          <label for="YearReleased">Fax:</label>
          <input type="number" class="form-control input-sm" id="YearReleased" required formControlName="fax" name="fax" placeholder="Fax Number"
          />
        </div>
        <div class="col-md-12">
          <hr/>
        </div>
        
        <div class="col-md-12">
          <h4>Contacts:
            <span style="cursor:pointer;" class="label label-primary" (click)="addContact()">Add</span>
          </h4>
          <div class="separator"></div>
        </div>
        <div class="col-md-12" style="margin-top: 20px;">
          <!--TODO: class="table-responsive" missing for responsive-->

          <table class="table table-condensed">
            <thead>
              <th>First Name</th>
              <th>Middle Name</th>
              <th>Surname</th>
              <th></th>
            </thead>
            <tbody>
              <tr *ngFor="let contact of partyContacts;let counter=index">
                <td>{{contact.firstName}}</td>
                <td>{{contact.middleName}}</td>
                <td>{{contact.lastName}}</td>
                <td>
                  <span style="cursor:pointer;" (click)="deleteContact(counter)" class="label label-danger">Delete</span>
                </td>
              </tr>
              <tr *ngIf="addContactFlag">
                <td colspan="4">

                  <table class="table tablewrapper">
                    <tr>
                      <td width="25%" class="innerTable" [formGroup]="contactVendorPartyForm">
                        <input class="form-control" type="text"  placeholder="First name" id="example-url-input" formControlName="firstName" name="firstname">
                      </td>
                      <td width="25%" class="innerTable" [formGroup]="contactVendorPartyForm">
                        <input class="form-control" type="text" placeholder="Middle Name" id="example-url-input" formControlName="middleName" name="middleName">
                      </td>
                      <td width="25%" class="innerTable" [formGroup]="contactVendorPartyForm">
                        <input class="form-control" type="text" placeholder="Last Name" id="example-url-input" formControlName="lastName" name="lastName">
                      </td>
                      <td class="innerTable">
                        <span style="cursor:pointer;" (click)="cancle()" class="label label-default">Cancel</span>
                        <span style="cursor:pointer;" class="label label-primary" (click)="submitContact()">Add</span>
                      </td>
                    </tr>
                  </table>
                </td>

              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-12">
          <h4>Accounts</h4>
          <div class="separator"></div>
        </div>
        <div class="form-group col-md-6" [formGroup]="vendorForm">
          <label for="payabale">Payable a/c:</label>
          <select class="form-control" required formControlName="payment" name="payment">
            <option *ngFor="let model of accounts" [value]="model.id">{{model.name}}</option>
          </select>
        </div>
        <div class="form-group col-md-6" [formGroup]="vendorForm">
            <label for="payabale">Purchase a/c:</label>
            <select class="form-control"  required formControlName="purchase" name="puchase">
              <option *ngFor="let model of accounts" [value]="model.id">{{model.name}}</option>
            </select>
        </div>
        <div class="form-group col-md-6" [formGroup]="vendorForm">
            <label for="payabale">Discount a/c:</label>
            <select class="form-control" required formControlName="discount" name="discount">
              <option *ngFor="let model of accounts" [value]="model.id">{{model.name}}</option>
            </select>
        </div>
      </form>
      </div>
      <div class="col-md-12">
        <div class="well well-sm">
          <button type="submit" (click)="addVendor()" class="btn btn-success" accesskey="S">
            <i class="fa fa-check"></i> Add
          </button>
          <a (click)="cancel()" class="btn btn-default">
            <i class="fa fa-remove"></i> Cancel
          </a>
        </div>

        <!-- <div class="separator"></div> -->
      </div>
    </div>

  </div>
</div>