<panel-container>
  <error-display [error]="error"></error-display>
  <form [formGroup]="formGroup" novalidate>
    <button-toolbar backUrl="#/receivable/customers" [isTop]="true" [hideCancel]="isNew" (change)="editModeChange($event)" (save)="save()" [isEditMode]="isEditMode" ></button-toolbar>
    <div class="form-row">
      <div class="col-md-4">
        <form-text [readonly]="!isEditMode"
          label="No"
          placeholder="Enter No"
          formControlName="no">
        </form-text>
      </div>
      <div class="col-md-4">
        <form-text [readonly]="!isEditMode"
          label="Name"
          placeholder="Enter Name"
          formControlName="name">
        </form-text>
      </div>
      <div class="col-md-4">
        <form-text [readonly]="!isEditMode"
          label="Address"
          placeholder="Enter Address"
          formControlName="address">
        </form-text>
      </div>
    </div> 
    <div class="form-row">
      <div class="col-md-4">
        <form-text [readonly]="!isEditMode"
          label="Email"
          placeholder="Enter Email"
          formControlName="email">
        </form-text>
      </div>
      <div class="col-md-4">
        <form-text [readonly]="!isEditMode"
          label="Phone"
          placeholder="Enter Phone"
          formControlName="phone">
        </form-text>            
      </div>
      <div class="col-md-4">
        <form-text [readonly]="!isEditMode"
          label="Website"
          placeholder="Enter Website"
          formControlName="website">
        </form-text>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4">
        <form-text [readonly]="!isEditMode"
          label="Fax"
          placeholder="Enter Fax"
          formControlName="fax">
        </form-text>
      </div>
      <div class="col-md-4">
        <form-select [readonly]="!isEditMode"
          required
          label="Payment term"
          placeholder="Select payment term"
          formControlName="paymentTermId"
          [items]="paymentTerms"
          bindLabel="description"
          bindValue="id">
        </form-select>
      </div>
      <div class="col-md-4">
        <form-select [readonly]="!isEditMode"
          required
          label="Tax Group"
          placeholder="Select Tax Group"
          formControlName="taxGroupId"
          [items]="taxgroups"
          bindLabel="description"
          bindValue="id">
        </form-select>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4">
        <form-select [readonly]="!isEditMode"
          required
          label="Receivable a/c"
          placeholder="Select Receivable a/c"
          formControlName="accountsReceivableAccountId"
          [items]="accounts"
          bindLabel="name"
          bindValue="id">
        </form-select>
      </div>
      <div class="col-md-4">
        <form-select [readonly]="!isEditMode"
          required
          label="Sales Account"
          placeholder="Select sales account"
          formControlName="salesAccountId"
          [items]="accounts"
          bindLabel="name"
          bindValue="id">
        </form-select>
      </div>
      <div class="col-md-4">
        <form-select [readonly]="!isEditMode"
          required
          label="Discount a/c"
          placeholder="Select discount a/c"
          formControlName="salesDiscountAccountId"
          [items]="accounts"
          bindLabel="name"
          bindValue="id">
        </form-select>
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-4">
        <form-select [readonly]="!isEditMode"
          required
          label="Payment discount a/c"
          placeholder="Select Payment discount a/c"
          formControlName="promptPaymentDiscountAccountId"
          [items]="accounts"
          bindLabel="name"
          bindValue="id">
        </form-select>
      </div>
      <div class="col-md-4">
        <form-select [readonly]="!isEditMode"
          required
          label="Sales advance a/c"
          placeholder="Select advance a/c"
          formControlName="customerAdvancesAccountId"
          [items]="accounts"
          bindLabel="name"
          bindValue="id">
        </form-select>
      </div>
      <div class="col-md-4">
      </div>
    </div>
    <div class="card">
        <div class="card-body">
          <div class="col-md-12">
            <h4>
              Contacts:
              <button class="btn btn-primary btn-sm" (click)="addContact()" *ngIf="isEditMode">Add</button>
            </h4>
            <div class="separator"></div>
          </div>
          <div class="col-md-12" style="margin-top: 20px;" formArrayName="contacts">
            <table class="table table-condensed table-hover table-sm">
              <thead>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Surname</th>
                <th>Is Primary</th>
                 <th></th>
             </thead>
              <tbody>
                <tr *ngFor="let contact of partyContacts.controls;let counter=index" [formGroupName]="counter">
                  <td>
                    <form-text [readonly]="!isEditMode"
                      placeholder="First name"
                      formControlName="firstName">
                    </form-text>
                  </td>
                  <td>
                    <form-text [readonly]="!isEditMode"
                      placeholder="Middle Name"
                      formControlName="middleName">
                    </form-text>
                  </td>
                  <td>
                    <form-text [readonly]="!isEditMode"
                      placeholder="Last Name"
                      formControlName="lastName">
                    </form-text>
                  </td>
                  <td>
                    <form-radio [readonly]="!isEditMode" (radioChange)="contactIsPrimaryChange($event)"
                      formControlName="isPrimary">
                    </form-radio>
                  </td>
                  <td>
                    <button (click)="deleteContact(counter)" class="btn btn-primary btn-sm" *ngIf="isEditMode">Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
    </div>
    <button-toolbar backUrl="#/receivable/customers" [isTop]="false" [hideCancel]="isNew" (change)="editModeChange($event)" (save)="save()" [isEditMode]="isEditMode"></button-toolbar>
  </form>
</panel-container>